<script>
  import PolkadotAccounts from '@kelp_digital/svelte-ui-components/polkadot/Accounts.svelte';
  import Notifications from '@kelp_digital/svelte-ui-components/notifications/Notifications.svelte';
</script>

<Notifications />
<PolkadotAccounts />
