<!-- <div class="flex justify-center items-center min-h-full">
	<div class="flex flex-col w-96">
		<span>It seems like you don’t own any domain. </span>
		<span>Feel free to verify any domain to claim the ownership in a 100% whenever you want! </span>
		<button class="btn btn-primary">Verify domain</button>
	</div>
</div> -->
<div class="hero min-h-[90vh]">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">It seems like you don’t have any subdomains.</h1>
      <p class="py-6">Feel free to verify any domain to claim the ownership in a 100% whenever you want!</p>
      <a href="/docs/how-to-publish-subdomain-on-macula" class="btn btn-primary">How to publish a subdomain</a
      >
    </div>
  </div>
</div>
