<script>
  import SvelteSeo from 'svelte-seo';
</script>

<SvelteSeo title="Image processing on the fly and IPFS on steroids!" description="" />

<div class="hero min-h-[90vh]">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Hello potential Macula user!</h1>
      <p class="mb-5">Missing features for Frontend developers and Web3</p>
      <button class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div>
